<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Agdasima:wght@700&family=Lugrasimo&display=swap" rel="stylesheet">

<mat-card class="nav-bar">
    <div id="logo">
        <h1> Movie App</h1>
    </div>
    <mat-card-content class="nav-menu">
        <button class="menu-button" (click)="goToPopularMovies()" mat-raised-button color="primary"> Popular Movies </button>
        <button class="menu-button" (click)="goToTVSeries()" mat-raised-button color="primary"> TV Series </button>
        <!-- <button class="menu-button" (click)="details()" mat-raised-button color="primary"> Movie Details </button>
        <button class="menu-button" (click)="tvsDetails()" mat-raised-button color="primary"> TvS Details </button> -->

    </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
